.btnRight {
	float:right;
	width:30%;
	margin-right:8px;
}
.btnLeft{
	float:left;
	width:30%;
	margin-left:8px;	
}
.titleans p, .titlequest p {
	font-size: 22px;
	font-weight: bold;
	font-family: "Comic Sans MS", cursive;
	margin-left: 36px;
	text-shadow: 1px 1px 1px #666;	
}
.titlequest img, .titleans img {
	float: left;
}
.question, .answer {
	font-family: "Comic Sans MS", cursive;
	font-size: 22px;
	text-shadow: 1px 1px 1px #000;
	text-indent: 20px;
}
.question {
	color: #900;
}
.answer{
	color: #016B56;
}
.container1 {
    margin: 0 auto;
	width: 94%;
    
}
.container {
	padding: 8px;
    background-color: #FC9;
    margin: 0 -8px;
	border: 1px solid #AE5700;
	border-radius: 8px;
	box-shadow: 2px 2px 4px 1px #333;   	
}
.startBtn {
	margin-top: -4px;
	border-radius: 24px;
    width: 75%;
	margin-right: auto;
	margin-left: auto;
}
.allBtn {
    border-radius: 24px;
    width: 95%;
	margin-right: auto;
	margin-left: auto;	
}
.ovalBtn {
	border-radius:50%;
	width:25%;
}
.clear {
	clear:both;
}
hr {
	color: #C60;
	width: 80%;
}
.ui-bar-f .ui-btn{
    line-height: 22px;
}
.ascuns {
    visibility: hidden;
}
.nr {
    margin: 0 auto;	
}
.nr, .suma {
  text-align: center;
}
#listPage {
	background-image: url(../images/questions-bg.png);
	background-repeat: no-repeat;
	background-size: contain;
	height: 800px;
}
.startQuestion {
	border-radius: 50%;
	line-height: 26px;
}
