.buttons .ui-btn {
	width: 40%;
}
.buttons {
	
}
.btnRight {
	float:right;
	width:30%;
}
.btnLeft{
	float:left;
	width:30%;
}
.titlequest p{
	font-size: 18px;
	font-weight: bold;
	font-family: "Comic Sans MS", cursive;
	margin-left: 30px;
	
}
.titlequest img, titleAns img {
	float: left;
}
.question {
	font-family: "Comic Sans MS", cursive;
	font-size: 18px;
	color: #900;
	text-shadow: 1px 1px #000;
}
.titleAns p{
	font-size: 18px;
	font-weight: bold;
	font-family: "Comic Sans MS", cursive;
	margin-left: 30px;
}
.answer{
	font-family: "Comic Sans MS", cursive;
	font-size: 18px;
	color: #016B56;
	text-shadow: 1px 1px #000;
}
.container {
	background-color: #FC9;
	padding: 8px;
	margin-right: -8px;
	margin-left: -8px;
	border: 1px solid #AE5700;
	border-radius: 8px;
	
}
.startBtn {
	margin-top: -4px;
	border-radius: 24px;
    width: 75%;
	margin-right: auto;
	margin-left: auto;
}
.allBtn {
    border-radius: 24px;
    width: 95%;
	margin-right: auto;
	margin-left: auto;	
}
.ovalBtn {
	border-radius:50%;
	width:25%;
}
.clear {
	clear:both;
}
